/* product icon start */
.product-icons{
  margin-left: 10%;
  margin-right: 10%;
}
.product-img{
  width: 100%;
  height: auto;
}
.products{
padding-top: 13%;
}
.product-row li{
  display: inline-block;
  width: 15%;
  height: auto;
  margin: 2%;
  padding: 1px;
}
.product-row ul{
  text-align: center;
}
.product-row li:hover{
  outline: 2px solid #8b0000;
  outline-offset: -2px;
}
/* product icon start */

/* product index start */
.product-index{
  position: fixed;
  top: 180px;
  left: 5%;
  width: 20%;

}
.product-index li{
  background-color: #8b0000;
  border: white solid 1px;
}
.product-index p{
    color: white;
  margin: 5px 0 5px 10px;
}
/*  product index end */

/* product list start */
.product-list{
  width: 55%;
  margin-left: 25%;
  margin-right: 5%;
  margin-top: 200px;
}
/* product list end */
